body{
    background-color: #10466C;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.player{
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

.selectors{
    display: flex;
    justify-content: center;
}
.iframePlayer{
    
}
.button{

}


@media screen and (max-width: 390px) {
    .player{
        background-color: #2787CB;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-top: 100px;
        padding: 20px;
        border: 1px solid black;
        border-radius: 10px;
        box-shadow: 2px 2px 10px 1px black;
    }
    .videoPlayer{
        margin: auto;

    }
    .videoPlayer > h1{
        padding-left: 1.8rem;
        margin-bottom: 50px;
        color: teal;
        text-transform: uppercase;
    }
    .videoPlayer > div > h3{
        padding-left: 1rem;
        font-size: 16px;
        color: aliceblue;
        text-transform: uppercase;
    }
    .selectors{
        display: flex;
        justify-content: center;
        
        margin-top: 80px;
    }
    
    .button{
        border-radius: 25px;
        background-color: teal;
    }
    .iframePlayerFull{
        position: absolute;
        right: 4px;
        bottom: 15px;
        height: 100vh;
        width: 100vw;
    }
}

@media screen and (max-width: 844px) {
    .player{
        background-color: #2787CB;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-top: 100px;
        padding: 20px;
        border: 1px solid black;
        border-radius: 10px;
        box-shadow: 2px 2px 10px 1px black;
    }
    .close-btn{
        width: 25px;
        float: right;
        border: none;
        border-radius: 50px;
        background-color: #0499B6;
    }
    .videoPlayer{
        margin: auto;
    }
    .videoPlayer > h1{
        padding-left: 4.8rem;
        margin-bottom: 50px;
        color: rgb(124, 43, 43);
        text-transform: uppercase;
        font-weight: bolder;
    }
    .videoPlayer > div > h3{
        padding-left: 1rem;
        font-size: 16px;
        color: aliceblue;
        text-transform: uppercase;
    }
    .selectors{
        display: flex;
        justify-content: center;
        margin-top: 80px;
    }
    
    .button{
        border-radius: 25px;
        background-color: teal;
        border: none;
        font-size: 12px;
        padding: 5px;
    }
    .iframePlayerFull{
        position: fixed;
        right: 4px;
        bottom: 10px;
        height: 100vh;
        width: 100vw;
    }
    /* .swiper-button-prev{
      padding-right: 50px!important;
    } */
    .gridGallery{
        display: grid;
        padding: 20px;
        grid-template-columns: repeat(2, 100px);
        grid-auto-rows: 150px;
        gap: 50px;
        grid-template-areas: 
        "line1 line2" 
        "line5 line6"
        "line3 line4"
        "line7 line8"
       
    }
    .grid-item{
        max-width: 200px;
        max-height: 200px;
        background-size: cover;
    }
    .grid-item01{
        grid-area: line1;
    }
    .grid-item02{
        grid-area: line2;
    }
    .grid-item03{
        grid-area: line3;
    }
    .grid-item04{
        grid-area: line4;
       
    }
    .grid-item05{
        grid-area: line5;
    }
    .grid-item06{
        grid-area: line6;
    }

    .grid-item07{
        grid-area: line7;
    }
    .grid-item08{
        grid-area: line8;
    }
    
    .grid-header{
        font-size: 12px;
        text-align: center;
        color: lightcoral;
    }
}
